
.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    /* padding: 4rem 0 4rem 0; */
    
    border-radius: 25%;
    padding: 2vw;

    
    width: 100vw;
    height: 40vw;
}

.inner{
    
}

img{
    height: 7.5rem;
}