.big{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    max-width: max-content;
    max-height: max-content;
    margin: 0;
}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    /* padding: 4rem 0 4rem 0; */
    
    border-radius: 25%;
    padding: 0.5vw;
    max-width: 1300px;
    max-height: max-content;
    
}
.box>* {
    flex: 1 1 1 0.35;
}

.inner{
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.50);
    transition: all .2s ease-in-out;
}
.inner:hover{
    box-shadow: 0px 0px 20px 10px rgba(102, 192, 244, 0.50);
    cursor: pointer;
    transform: scale(1.1);
}

.ccu{
    padding-top: 1.5rem;
    
}
.ccumain{
    padding-top: 1.5rem;
}

img{
    height: 7.5rem;
    
}