.title{
    margin-top: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color:aliceblue;
    background-color: #171a21;
    text-shadow:#140024 0 12px 12px;
    padding-bottom: 1.5vw;
}