.App {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    height: 100%;
    width: 100%;
    text-shadow:#140024 0 8px 8px;
    color:aliceblue;
  
  }